# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Средства разработки на языках C++, C и ассемблера, а также библиотеки доступны в составе Visual Studio в Windows. Можно использовать C++ в Visual Studio для создания любых решений, от простых консольных приложений до классических приложений для Windows, от драйверов устройств и компонентов операционных систем до кроссплатформатных игр для мобильных устройств, от систем для небольших устройств Интернета вещей до многосерверных вычислительных платформ в облаке Azure.
