# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Средства разработки на языках C++, C и ассемблера, а также библиотеки доступны в составе Visual Studio в Windows. 
Можно использовать C++ в Visual Studio для создания любых решений:
простые консольные приложения
классические приложений для Windows 
драйвера устройств и компонентов операционных систем 
кроссплатформатные игры для мобильных устройств
системы для небольших устройств Интернета вещей 
многосерверные вычислительные платформы в облаке Azure
